<section class="padadas">
    <app-label texto="Paradas"></app-label>
    <div class="checkbox-group">
        <p *ngFor="let opcao of opcoes">
            <mat-checkbox 
                color="primary"
                [value]="opcao.value"
                (change)="alternarParada(opcao, $event.checked)"
                [checked]="paradaSelecionada(opcao)"
                [indeterminate]="incluirParada(opcao)"
                [disabled]="incluirParada(opcao)"
            >
                {{ opcao.display }}
            </mat-checkbox>
        </p>
    </div>
</section>
