<div class="selecao-idade">
    <ul>
        <li><strong>{{ titulo }}</strong></li>
        <li>{{ descricao }}</li>
        <li>
            <button class="decremento" mat-mini-fab color="primary">
                <mat-icon aria-hidden="false" aria-label="Remover" fontIcon="remove"></mat-icon>
            </button>
            <span>1</span>
            <button class="incremento" mat-mini-fab color="primary">
                <mat-icon aria-hidden="false" aria-label="Adicionar" fontIcon="add"></mat-icon>
            </button>
        </li>
    </ul>
</div>