<div class="selecao-idade">
    <ul>
        <li><strong>{{ titulo }}</strong></li>
        <li>{{ descricao }}</li>
        <li>
            <button 
                class="decremento" 
                mat-mini-fab color="primary" 
                (click)="decrementar()"
            >
                <mat-icon 
                    aria-hidden="false" 
                    aria-label="Remover" 
                    fontIcon="remove" 
                />
            </button>
            
            <span>{{ value }}</span>
            
            <button 
                class="incremento" 
                mat-mini-fab color="primary" 
                (click)="incrementar()"
            >
                <mat-icon 
                    aria-hidden="false" 
                    aria-label="Adicionar" 
                    fontIcon="add" 
                />
            </button>
        </li>
    </ul>
</div>