<section class="modal">
    <h1 mat-dialog-title>Viajante</h1>
    <div mat-dialog-content>
        <div class="selecao-idade">
            <ul>
                <li><strong>Adultos</strong></li>
                <li>(Acima de 12 anos)</li>
                <li>
                    <button class="decremento" mat-mini-fab color="primary">
                        <mat-icon aria-hidden="false" aria-label="Remover" fontIcon="remove"></mat-icon>
                    </button>
                    <span>1</span>
                    <button class="incremento" mat-mini-fab color="primary">
                        <mat-icon aria-hidden="false" aria-label="Adicionar" fontIcon="add"></mat-icon>
                    </button>
                </li>
            </ul>
        </div>

        <div class="selecao-idade">
            <ul>
                <li><strong>Crianças</strong></li>
                <li>(Entre 2 e 11 anos)</li>
                <li>
                    <button class="decremento" mat-mini-fab color="primary">
                        <mat-icon aria-hidden="false" aria-label="Remover" fontIcon="remove"></mat-icon>
                    </button>
                    <span>1</span>
                    <button class="incremento" mat-mini-fab color="primary">
                        <mat-icon aria-hidden="false" aria-label="Adicionar" fontIcon="add"></mat-icon>
                    </button>
                </li>
            </ul>
        </div>

        <div class="selecao-idade">
            <ul>
                <li><strong>Bebês</strong></li>
                <li>(Até 2 anos)</li>
                <li>
                    <button class="decremento" mat-mini-fab color="primary">
                        <mat-icon aria-hidden="false" aria-label="Remover" fontIcon="remove"></mat-icon>
                    </button>
                    <span>1</span>
                    <button class="incremento" mat-mini-fab color="primary">
                        <mat-icon aria-hidden="false" aria-label="Adicionar" fontIcon="add"></mat-icon>
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <div mat-dialog-actions class="modal-actions">
        <button mat-raised-button color="primary">
            <mat-icon aria-hidden="false" aria-label="Adicionar" fontIcon="search"></mat-icon>
            BUSCAR
        </button>
        <button mat-button mat-dialog-close color="warn">FECHAR</button>
    </div>
</section>
