<app-container>
    <mat-card>
        <form [formGroup]="cadastroForm">
            <mat-card-title>Crie sua conta</mat-card-title>
            <section>
                <div>
                    <h2>Dados Pessoais</h2>
                    <button mat-stroked-button color="primary">
                        <mat-icon>logout</mat-icon>
                        DESLOGAR
                    </button>
                </div>
            </section>
            <mat-card-content>
                <div class="grid-container">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Nome</mat-label>
                        <input type="text" matInput formControlName="nome" placeholder="Nome">
                        <mat-error *ngIf="cadastroForm.get('nome')?.errors">Nome é obrigatório</mat-error>
                    </mat-form-field>
                    <div class="grig-item">
                        <mat-form-field appearance="outline" matFormFieldControl>
                            <mat-label>Data de Nascimento</mat-label>
                            <input matInput formControlName="nascimento" placeholder="Data de Nascimento" [matDatepicker]="nascimento">
                            <mat-datepicker-toggle matSuffix [for]="nascimento"></mat-datepicker-toggle>
                            <mat-datepicker #nascimento></mat-datepicker>
                            <mat-hint>DD/MM/YYYY</mat-hint>
                            <mat-error *ngIf="cadastroForm.get('nascimento')?.errors?.['required']">
                                Data de nascimento é obrigatória
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>CPF</mat-label>
                            <input matInput formControlName="cpf" mask="000.000.000-00"  placeholder="Digite seu CPF">
                            <mat-error *ngIf="cadastroForm.get('cpf')?.errors?.['required']">CPF é obrigatório</mat-error>
                            <mat-error *ngIf="cadastroForm.get('cpf')?.errors?.['cpfInvalido']">CPF inválido</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Cidade</mat-label>
                            <input matInput formControlName="cidade" placeholder="Digite sua Cidade">
                            <mat-error *ngIf="cadastroForm.get('cidade')?.errors?.['required']">Cidade é obrigatória</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="grid-item">
                        <div class="radio-group">
                            <label for="genero">Gênero</label>
                            <mat-radio-group formControlName="genero" color="primary">
                                <mat-radio-button value="feminino">Feminino</mat-radio-button>
                                <mat-radio-button value="masculino">Masculino</mat-radio-button>
                                <mat-radio-button value="outro">Prefiro não informar</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <mat-form-field appearance="outline">
                            <mat-label>Telefone</mat-label>
                            <input matInput mask="00 0000-00009" formControlName="telefone" placeholder="Digite seu Telefone">
                            <mat-error *ngIf="cadastroForm.get('telefone')?.errors?.['required']">Telefone é obrigatório</mat-error>
                            <mat-error *ngIf="cadastroForm.get('telefone')?.errors?.['telefoneInvalido']">Telefone incompleto.</mat-error>
                        </mat-form-field>
                        <app-dropdown-uf 
                            label="Estado" 
                            placeholder="Estado" 
                            [control]="estadoControl"
                        ></app-dropdown-uf>
                        <mat-error *ngIf="estadoControl?.errors && estadoControl?.touched">Estado é obrigatório</mat-error>
                    </div>
                </div>
            </mat-card-content>
            <mat-divider></mat-divider>
            <div class="acessoPerfil">
                <h2>Dados de acesso</h2>
            </div>
            <mat-card-content>
                <div class="grid-container">
                    <div class="grid-item">
                        <mat-form-field appearance="outline">
                            <mat-label>E-mail</mat-label>
                            <input matInput type="email" formControlName="email" placeholder="Digite seu e-mail">
                            <mat-error *ngIf="cadastroForm.get('email')?.errors?.['required']">E-mail é obrigatório</mat-error>
                            <mat-error *ngIf="cadastroForm.get('email')?.errors?.['email']">E-mail inválido</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Senha</mat-label>
                            <input matInput type="password" formControlName="senha" placeholder="Digite sua senha">
                            <mat-error *ngIf="cadastroForm.get('senha')?.errors?.['required']">Senha é obrigatória</mat-error>
                            <mat-error *ngIf="cadastroForm.get('senha')?.errors?.['minlength']">Senha precisa ter no mínimo 8 caracteres</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="grid-item">
                        <mat-form-field appearance="outline">
                            <mat-label>Confirmar E-mail</mat-label>
                            <input matInput type="email" formControlName="confirmarEmail" placeholder="Digite seu e-mail novamente">
                            <mat-error *ngIf="cadastroForm.get('email')?.errors?.['required']">Confirmação de E-mail é obrigatória</mat-error>
                            <mat-error *ngIf="cadastroForm.get('email')?.errors?.['email']">E-mail inválido</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Confirmar Senha</mat-label>
                            <input matInput type="password" formControlName="confirmarSenha" placeholder="Repita sua senha">
                            <mat-error *ngIf="cadastroForm.get('senha')?.errors?.['required']">Confirmação de Senha é obrigatória</mat-error>
                            <mat-error *ngIf="cadastroForm.get('senha')?.errors?.['minlength']">Senha precisa ter no mínimo 8 caracteres</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <mat-checkbox formControlName="aceitarTermos" color="primary" class="full-width">Li e aceito os termos e condições deste cadastro *</mat-checkbox>
                <mat-error *ngIf="cadastroForm.get('aceitarTermos')?.invalid && cadastroForm.get('aceitarTermos')?.dirty">
                    Você precisa aceitar os termos e condições para efetuar o cadastro
                </mat-error>
            </mat-card-content>
            <mat-card-actions class="full-width">
                <button mat-flat-button
                    [disabled]="cadastroForm.invalid"
                    color="primary"
                >CADASTRAR</button>
            </mat-card-actions>
        </form>
    </mat-card>
</app-container>