<section class="precos">
    <app-label texto="Preço"></app-label>
    <div class="labels">
        <div class="label-container">
            <label for="preco-minimo">De</label>
            <p>{{ passagensService.precoMin | currency:'BRL' }}</p>
        </div>
        <div class="label-container">
            <label for="preco-maximo">Até</label>
            <p>{{ passagensService.precoMax| currency:'BRL' }}</p>
        </div>
    </div>
    <mat-slider [min]="passagensService.precoMin" [max]="passagensService.precoMax">
        <input id="preco-minimo" [formControl]="precoMin" matSliderStartThumb>
        <input id="preco-maximo" [formControl]="precoMax" matSliderEndThumb>
    </mat-slider>
</section>